body {
    font-size: 15pt;
}
.cen{
  text-align: center;
}
.ignr{
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.title{
  font-weight: 500
}

.productors{
  padding: 0.2rem 0px;
  display: flex;
}

.product{
  width: 10rem;
  padding: 0.5rem;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0.1rem;
}

.p-var{
  font-weight: bold;
  width: fit-content;
}

.p-var::after{
  content: "~";
}

.p-name{
  font-style: italic;
  font-weight: 300;
}

.p-val{
  font-weight: bold;
}

.p-val::before{
  content: '|'
}

.p-add{
  align-self: center;
}

.p-add::before{
  content: '✣';
  width: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.2rem 0.4rem;
}

.members{
   padding: 0.2rem 0px;
   display: flex;
   gap: 0.3rem;
}

.member{
  width: 10rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
}

.m-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.m-sum::before{
  content: '₹'
}

.m-prod{
  padding: 0.5rem;
}

.spd-var{
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.1rem 0.2rem;
}

.m-add{
  align-self: center;
}

.m-add::before{
  content: '✣';
  width: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
}

.bill {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.2rem 0px;
}

.s-btn{
  background: black;
  color: white;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
}